<div class="row">
  <div class="column">
    <img src="../../assets/1.jpeg" alt="1st pic" width="250" height="250">
    <img src="../../assets/2.jpeg" alt="2nd pic" width="250" height="250">
    <img src="../../assets/3.jpeg" alt="3rd pic" width="250" height="250">
    <img src="../../assets/4.jpeg" alt="4th pic" width="250" height="250">
    <img src="../../assets/5.jpeg" alt="5th pic" width="250" height="250">
  </div>
  <div class="column">
    <img src="../../assets/6.jpeg" alt="6th pic" width="250" height="250">
    <img src="../../assets/7.jpeg" alt="7th pic" width="250" height="250">
    <img src="../../assets/8.jpeg" alt="8th pic" width="250" height="250">
    <img src="../../assets/9.jpeg" alt="9th pic" width="250" height="250">
    <img src="../../assets/10.jpeg" alt="10th pic" width="250" height="250">

  </div>
</div>
